*.log
*.pyc
media/                                                                                                                                                                                                                                    
celerybeat-schedule
celerybeat.pid
ASE_DIR.child('journal_app', 'templates'),
