{% extends "base.html" %}
{% block title %}-Registration{% endblock %}
{% load staticfiles%}

{% block js %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here #}
{% endblock %}

{% block navbar %}
    <div class="row">
        <div class="col-md-12" style="height: 10px;"></div>
        <div class="col-md-12">
            <div class="col-md-12" align="left">
                <a href="/home/" class="btn btn-danger btn-sm">
                <h4><b>W.E.D</b></h4>
                    </a>
            </div>
        </div>
        <div class="col-md-12" style="height: 10px;"></div>
    </div>
{% endblock %}


{% block content %}
<div class="col-md-12" style="height: 70px; padding-: 1px;" align="center">
    <h2 style="color: #999;font-family: Courier New, Courier, monospace;">W.E.D - The safest place for your thoughts</h2>
</div><br><br><br><br>
<div class="container">
	<div class="row no-padding">
		<div class="col-md-12 no-padding" style="height:100vh;">
            <div class="col-md-6" style="padding-left: 0px;height:70vh;">
                <div class="col-md-4 no-padding">
					<img
					src="{% static 'img/pencil.png' %}"
		            width="175" height="175" alt="">
                </div>
                <div class="col-md-4 no-padding">
                        <img
                        src="{% static 'img/private.png' %}"
                        width="175" height="175" alt="">
                </div>
                <div class="col-md-4 no-padding">
                        <img
                        src="{% static 'img/cloud.png' %}"
                        width="175" height="175" alt="">
                </div>

{#                Descriptions#}
                <div class="col-md-12">
{#                    Create descriptions here#}
                    <div class="col-md-4" style="height: 30vh;">
                        <p style="font-size: 14px;"><b>Keep an online journal</b></p>
                        <div class="col-md-12 no-padding h3_class" align="center" style="font-size: 14px;">
                            You want to keep your thoughts in a place where no one can find them?
                            Or capture great ideas so they do not get lost?
                            The online diary W.E.D offers you a safe place for your very personal topics.
                        </div>
                    </div>

                    <div class="col-md-4" style="height: 30vh;">
                        <p style="font-size: 14px;"><b>Secret and private</b></p>
                        <div class="col-md-12 no-padding h3_class" align="center" style="font-size: 14px;">
                            The use of W.E.D is private only. There is no feature to make entries publicly viewable.
                            This ensures that your secret diary remains safe from prying eyes.
                            Just like in a good old paper diary.
                        </div>
                    </div>

                    <div class="col-md-4" style="height: 30vh;">
                        <p style="font-size: 14px;"><b>Access via Internet</b></p>
                        <div class="col-md-12 no-padding h3_class" align="center" style="font-size: 14px;">
                            To use W.E.D all you need is a computer with Internet access.
                            Whether you are at home or on the move – if you have a sudden urge to write,
                            you can access your data at any time and from anywhere.
                        </div>
                    </div>
                </div>
            </div>

			<div class="col-md-6" style="height:70vh;
			        background-color:whitesmoke;padding-right:20px;padding-top:50px;padding-left:50px;">
		    	<div>
				    <form method="post" action="." class="table">{% csrf_token %}
				        <table border="0" class="table">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-7" style="padding-left: 7px">
                                        <h3 class="h3_class">Create an account</h3>
                                    </div>
                                    <div class="col-md-4" align="right">or&nbsp;<a href="/">Log in</a></div><br><br>
                                </div>
                                <div class="col-md-12">
                                        {{ form.as_table }}
                                </div>
                            </div>
				        </table>
                        <div class="col-md-12" align="right" style="padding-right: 100px;">
                            <input type="submit" class="btn btn-sm btn-primary"
                                   style="width: 100%;font-size: 15px;" value="Create an account" />
                        </div>
				    </form>
			    </div>
		    </div>
		</div>
	</div>
</div>
    <div class="col-md-12 no-padding" style="height: 10px;background-color: #d9534f; width: 100%"></div>
{% endblock %}
