{% extends "base.html" %}
{% block title %}Registration Successful{% endblock %}


{% block navbar %}

    <div class="row">
        <div class="col-md-12" style="height: 10px;"></div>
        <div class="col-md-12">
            <div class="col-md-6" align="left">
                    <a href="/home/" class="btn btn-danger btn-sm">
                    <h4><b>W.E.D</b></h4>
                        </a>
            </div>
        </div>
        <div class="col-md-12" style="height: 10px;"></div>
    </div>
{% endblock %}

{% block head %}
 <h3><b>User <b>{{ user.username }}</b> registered successfully!</b></h3>
 <p>Now you can start. Log in here:</p>
{% endblock %}



{% block content %}
    <a href="/">Login</a> 
{% endblock %}