{% extends "base.html" %}

{% load staticfiles %}
{% block additional_styles %}
<style>
   body {
        background-image: url({% static 'img/wall5.jpg'%});
        background-size: 100% 100vh;
        background-repeat: no-repeat;
       }
</style>
{% endblock %}

{% block content %}
{%  verbatim  %}

<!------------------ Start of Main  ------------------->
<script type="text/ng-template" id="homeCtrl.html" >
    <div class="row row-break">
        <div class="col-md-12" align="right">
            <a href="#/" ng-click="createJournal()"><img src="{{ plusImg }}" width="55" height="50" alt=""></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="o in journals track by $index" class="col-md-5 row-break">
                <div class="col-md-12" align="center" style="font-family: Courier New, Courier, monospace;">
                    <div class="col-md-12" style="background-color: #FFFFFF">
                        <div class="col-md-12">
                            <div class="col-md-12" style="height: 30px;">
                                <img src="{{ pinImg }}" width="40" height="40" alt="">
                            </div>
                            <h1><b>{{ o.name }}</b></h1>
                            <h4>{{ o.description }}</h4><br>
                        </div>
                        <div class="col-md-12" style="height: 25px;"></div>

                        <div class="col-md-12">
                            <a href="#journal/{{ o.id }}/" class="btn btn-info btn-xs">
                                <i class="glyphicon glyphicon-th-list"></i>
                                View entries</a>
                            <a href="#create/{{ o.id }}/" class="btn btn-success btn-xs">

                                <i class="glyphicon glyphicon-plus"></i>
                            Create new entry</a>
                            <button  ng-click="editJournal(o.id)" class="btn btn-warning btn-xs">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Update Journal</button>
                            <button  ng-click="deleteJournal(o.id)" class="btn btn-danger btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                                Delete Journal</button>
                        </div>
                        <div class="col-md-12" style="height: 20px;" align="left"></div>
                        <div class="col-md-12" style="height: 25px;font-size: 15px;color: grey" align="left">
                            {{ o.date_modified|date:M }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="journals.length < 1">
        <div class="col-md-7 custom-padding-5">
            <div class="alert alert-warning" uib-alert close="closeAlert($index)">No Journals Available!</div>
        </div>
    </div>


</script>
<!------------------ End of Main ------------------->

<!------------------ Pop up ------------------->
<script type="text/ng-template" id="createJournal.html">
    <div class="modal-header" align="center" style="background-color:#5bc0de;
    font-family: Courier New, Courier, monospace;color: white">
        <h3 class="modal-title" id="modal-title">Create your Journal</h3>
    </div>
    <div class="modal-body" id="modal-body" align="center">
        <div class="alert alert-{{ alert.type }}" ng-repeat="alert in alerts" uib-alert>{{  alert.msg }}</div>
        <div class="row" ng-repeat="(f, v) in form_fields">
            <div class="col-md-12 custom-padding-5">
                <input class="form-control" ng-if="v.type!='select'" type="{{ v.type }}"
                       ng-model="data[f]" class="form-control" placeholder="{{ f }}" >
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="saveJournal()" type="button">Save</button>
        <button class="btn btn-grey" ng-click="cancel()" type="button">Cancel</button>
    </div>
</script>
<!------------------ End Pop up ------------------->



<!------------------ Start of Entries list Page ------------------->
<script type="text/ng-template" id="journal_detail.html">
    <div class="row row-break">
        <div class="row entries-list-container">
            <div class="container">
                <div class="container" >
                    <div class="col-md-12" ng-show="journal_name">
                        <h2>{{ journal_name }} </h2>
                        <span>{{ gridOptions.data.length }} total entries | Created on {{ journal_date_created }}</span>
                        <a href="#create/{{ journal_id }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> New Entry</a>
                    </div>
                    <div class="col-md-12" ng-show="gridOptions.data.length > 0">
                        <form class="form-inline">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Since</label>
                            <select class="form-control">
                                <option>All Time</option>
                                <option>Today</option>
                                <option>Yesterday</option>
                                <option>Last Week</option>
                                <option>This Month</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword3">Entry Title</label>
                            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Search Entry Title">
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container light-bg well">
            <div class="col-md-12 well" ng-show="selected_cols.length > 0">
                <div>
                    <a ng-click="deleteEntry()" class="pull-right btn btn-danger" href="" title="Delete Selected"><i class="pull-right glyphicon glyphicon-trash"></i>Delete </a>
                </div>
            </div>
            <div class="col-md-12">
                <div >
                    <div class="panel-body">
                        <div class="alert alert-{{ alert.type }}" ng-repeat="alert in alerts" uib-alert>{{  alert.msg }}</div>
                        <div ui-grid="gridOptions" ui-grid-selection  class="myGrid" ng-if="gridOptions.data.length > 0"></div>
                        <div ng-hide="gridOptions.data.length > 0" class="alert alert-warning"> No Entries Available.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------ End of of Entries list Page  ------------------->


<!------------------ Start Create Entry ------------------->
<script type="text/ng-template" id="createJournalEntry.html">
    <div class="row row-break">
        <div class="col-md-2 col-sm-2">
            <div class="side-bar">
                <div class="panel-body">
                    <div class="row" align="center">
                        <h3 style="color:white;">{{ journal_name }} </h3>
                    </div><hr>
                    <ul class="list-group">
                      <li class="list-group-item"><a href="#/journal/{{ journal_id }}"><i class="glyphicon glyphicon-home"></i> JOURNAL HOME </a></li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item"><i class="glyphicon glyphicon-list"></i> ENTRIES </li>
                      <li class="list-group-item" ng-repeat="entry in entries"><a href="#/journal_id/{{ journal_id }}/edit/{{ entry.id }}">{{ entry.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="well col-md-8 main-section col-sm-5 col-md-offset-1 col-sm-offset-2">
            <div class="row well text-align">
                    <h2>{{ journal_name }} </h2>
                    <span>{{ entries.length }} total entries | Created on {{ journal_date_created }}</span>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="alert alert-{{ alert.type }}" ng-repeat="alert in alerts" uib-alert>{{  alert.msg }}</div>
                    <form >
                      <div class="form-group">
                        <label for="title">Title:</label><br/>
                        <input type="text" ng-model="data.title" class="form-control col-md-2" id="title" name="title">
                      </div><br/><br/>
                      <div class="form-group">
                            <label for="description">Description:</label<br/>
                            <textarea ng-change="descriptionChange()" ui-tinymce="tinymceOptions" ng-model="data.description" class="tiny-mce" rows="20"></textarea>
                      </div>
                      <div class="checkbox">
                      <button ng-click="saveEntry()"  class="btn btn-default">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------ End Create Entry ------------------->

<!------------------ Start Edit Entry ------------------->
<script type="text/ng-template" id="editJournalEntry.html">
    <div class="row row-break">
        <div class="col-md-2 col-sm-2">
            <div class="side-bar">
                <div class="panel-body">
                    <div class="row" align="center">
                        <h3 style="color:white;">{{ journal_name }} </h3>
                    </div><hr>
                    <ul class="list-group">
                      <li class="list-group-item"><a href="#/journal/{{ journal_id }}"><i class="glyphicon glyphicon-home"></i> JOURNAL HOME </a></li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item"><a class="btn btn-primary" href="#create/{{ journal_id }}"><i class="glyphicon glyphicon-plus"></i> ADD ENTRY </a></li>
                    </ul>

                    <ul class="list-group">
                      <li class="list-group-item"><i class="glyphicon glyphicon-list"></i> ENTRIES </li>
                      <li class="list-group-item" ng-repeat="entry in entries"><a href="#/journal_id/{{ journal_id }}/edit/{{ entry.id }}">{{ entry.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="well col-md-8 main-section col-sm-5 col-md-offset-1 col-sm-offset-2">
            <div class="row well text-align">
                <div>
                    <h2>{{ journal_name }} </h2>
                    <span>{{ entries.length }} total entries | Created on {{ journal_date_created }}</span>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="alert alert-{{ alert.type }}" ng-repeat="alert in alerts" uib-alert>{{  alert.msg }}</div>
                    <form >
                      <div class="form-group">
                        <label for="title">Title:</label><br/>
                        <input type="text" ng-model="data.title" class="form-control col-md-2" id="title" name="title">
                      </div><br/><br/>
                      <div class="form-group">
                            <label for="description">Description:</label<br/>
                            <textarea ng-change="descriptionChange()" ui-tinymce="tinymceOptions" ng-model="data.description" class="tiny-mce" rows="20"></textarea>
                      </div>
                      <div class="checkbox">
                      <button ng-click="saveEntry()" type="submit" class="btn btn-default">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>
<!------------------ End  Edit Entry  ------------------->







<div class="row" ng-controller="mainCtrl">
    <div ng-view></div>
    {%  endverbatim  %}
</div>

{% endblock %}

    {% block extrascript %}




    {{ ngapp }}.config(['$routeProvider', function($routeProvider){
        $routeProvider
            .when('/',{
                templateUrl: 'homeCtrl.html',
                controller: 'mainCtrl'
            })
            .when('/journal/:journal_id', {
                templateUrl: 'journal_detail.html',
                controller: 'journalDetailCtrl'
            })
            .when('/create/:journal_id', {
                templateUrl: 'createJournalEntry.html',
                controller: 'createJournalEntryCtrl'
            })
            .when('/journal_id/:journal_id/edit/:entry_id', {
                templateUrl: 'editJournalEntry.html',
                controller: 'editEntryCtrl'
            })
            .otherwise({redirectTo:'/'});
    }]);

    {{ ngapp }}.factory('journalFactory', function($http, $q, $sce){

        var data = {};

        data.postData = function(url, data){
            var deferred = $q.defer();
             $http.post(url, data).then(function(response){
                 return deferred.resolve(response.data);
            }, function(){
                alert('Internal Error');
            });
            return deferred.promise;
        };

        data.getData = function(url, data){
            var deferred = $q.defer();
            var config = {
                params: data,
                headers : {'Accept': 'application/json'}
            };
            $http.get(url, config).then(function(response){
                 return deferred.resolve(response.data);
            }, function(){
                alert('Internal Error');
            });
            return deferred.promise;
        }

        return data;

    });


    {{ ngapp }}.filter('trusted', function($sce){
      return function(text){
            console.log(text);
          return $sce.trustAsHtml(text);
      }
    });




    {{ ngapp }}.controller("mainCtrl", function($scope, $http, $uibModal, journalFactory) {

         var url = "{% url 'journal_vew' %}",
             delete_journal_url = "{% url 'delete_journal' %}";
         $scope.plusImg = "{% static 'img/add.png' %}"
         $scope.pinImg = "{% static 'img/pin.png' %}"
         $scope.journals = [];

        $scope.initData = function(){
             $http.get(url).then(function(response){
                 $scope.journals = response.data.data;
                 console.log($scope.journals);
             });
        };
        $scope.initData();

        $scope.createJournal = function (size) {
            var modalInstance = $uibModal.open({
                templateUrl: 'createJournal.html',
                controller: 'createJournalCtrl',
                size: "sm",
                windowClass: 'app-modal-window',
                backdrop: 'static',
            });

            modalInstance.result.then(function (result) {
                if(result == 'success'){
                    $scope.initData();
                    console.log(1);
                }else{
                    console.log(2);
                }
            }, function () {
                $scope.hovering = false;
                console.log(3);
            });

        };

        $scope.editJournal = function (journal_id) {
            var modalInstance = $uibModal.open({
                templateUrl: 'createJournal.html',
                controller: 'editJournalCtrl',
                size: "sm",
                windowClass: 'app-modal-window',
                backdrop: 'static',
                resolve: {
                    journal_id: function(){
                        return journal_id;
                    }
                }
            });

            modalInstance.result.then(function (result) {
                if(result == 'success'){
                    $scope.initData();
                    console.log(1);
                }else{
                    console.log(2);
                }
            }, function () {
                $scope.hovering = false;
                console.log(3);
            });

        };

        $scope.deleteJournal = function(journal_id){
            var can_delete = confirm('Are you sure?');
            if(can_delete){
                journalFactory.postData(delete_journal_url, {journal_id: journal_id}).then(function(data){
                    if(data.status == 'success'){
                        $scope.initData();
                    }else{
                        $scope.alerts.push({msg: data.data.msg, type: 'danger'});
                    }
                });
            }
        };


    });

   {{ ngapp }}.controller('createJournalCtrl', function ($scope, $uibModalInstance, $http, $routeParams) {

        $scope.data = {};
        $scope.alerts = [];
        var url = "{% url 'create_journal' %}";

        $scope.form_fields = {
            'name': {val: '', type: 'text'},
            'description': {val: '', type: 'textarea'},
        };

        $scope.closeAlert = function(index) {
        };

        $scope.saveJournal = function(){
             $http.post(url, $scope.data).then(function(response){
                if (response.data.status == 'success'){
                    $uibModalInstance.close('success');
                }else{
                    $scope.alerts.push({msg: data.data.msg, type: 'danger'});
                }
             });
        };

        $scope.cancel = function () {
          $uibModalInstance.dismiss('cancel');
        };
    });


    {{ ngapp }}.controller('editJournalCtrl', function ($scope, $uibModalInstance, $http, $routeParams, journalFactory, journal_id) {

        $scope.data = {journal_id: journal_id};
        $scope.alerts = [];
        var url = "{% url 'edit_journal' %}";

        $scope.form_fields = {
            'name': {val: '', type: 'text'},
            'description': {val: '', type: 'textarea'},
        };

        $scope.getEntry = function(){
            journalFactory.getData(url,  {journal_id: journal_id}).then(function(data){
                $scope.data.name = data.data.name;
                $scope.data.description = data.data.description;
            });

        };
        $scope.getEntry();

        $scope.saveJournal = function(){
             $http.post(url, $scope.data).then(function(response){
                if (response.data.status == 'success'){
                    $uibModalInstance.close('success');
                }else{
                    $scope.alerts.push({msg: data.data.msg, type: 'danger'});
                }
             });
        };

        $scope.cancel = function () {
          $uibModalInstance.dismiss('cancel');
        };
    });

    {{ ngapp }}.controller("journalDetailCtrl", function($scope, $http, $uibModal, $routeParams, $sce, journalFactory) {

        $scope.alerts = [];
        var url = "{% url 'journal_entry' %}";
        var delete_entry_url = "{% url 'delete_entry_url' %}";

        $scope.journal_id = $routeParams.journal_id;

        $scope.getEntries = function(){
            $scope.data = {journal_id: $scope.journal_id};
            journalFactory.postData(url, $scope.data).then(function(data){
                console.log(data);
                if(data.status == 'success'){
                    $scope.gridOptions.data = data.data;
                    $scope.journal_name = data.journal_name;
                    $scope.journal_date_created = data.journal_date_created;
                }else{
                    $scope.alerts.push({msg: data.msg, type: 'danger'});
                }
            });
        }

        $scope.getEntries();

        $scope.deleteEntry = function(){
            console.log("deleting entry...");
            var entry_id_list = [];
            angular.forEach($scope.selected_cols, function(data){
                entry_id_list.push(data.id);
            });
            journalFactory.postData(delete_entry_url,  {entry_id: entry_id_list}).then(function(data){
                $scope.getEntries();
                $scope.selected_cols = [];
            });
        };

        {% verbatim %}
        $scope.gridOptions = {
            //enableGridMenu: true,
            //showGridFooter: true,
            enableColumnResizing: true,
            data: [],
            columnDefs: [
                {
                    field: 'title',
                    width: '200',
                    cellTemplate: "<a href='#/journal_id/{{ row.entity.journal_id_id }}/edit/{{ row.entity.id }}'>{{ row.entity[col.field] }}</a>"
                },
                {
                    field: 'description',
                    width: '*',
                    cellTemplate: "<span ng-bind-html='row.entity[col.field]|trusted'></span>"

                },
                {field: 'date_modified', width: '150' },
            ],
            onRegisterApi: function(gridApi){
                $scope.gridApi = gridApi;
                gridApi.selection.on.rowSelectionChanged($scope,function(row){
                   $scope.selected_cols = $scope.gridApi.selection.getSelectedRows();
                });

                gridApi.selection.on.rowSelectionChangedBatch($scope,function(rows){
                    $scope.selected_cols = $scope.gridApi.selection.getSelectedRows();
                });

            },
        };
        {% endverbatim %}
        console.log('entries CTRL');
    });

    {{ ngapp }}.controller('createJournalEntryCtrl', function ($scope, $http, $timeout, $location, $routeParams, journalFactory) {

        $scope.alerts = [];
        $scope.journal_id = $routeParams.journal_id;
        var url = "{% url 'journal_entry' %}";
        var save_entry_url = "{% url 'journal_create_entry' %}";
        $scope.data = {journal_id: $scope.journal_id};

        $scope.getEntries = function(){
            var entry_data = {journal_id: $scope.journal_id};
            journalFactory.postData(url, entry_data).then(function(data){
                $scope.entries = data.data;
                $scope.journal_name = data.journal_name;
                $scope.journal_date_created = data.journal_date_created;
            });
        }
        $scope.getEntries();

        $scope.form_fields = {
            'Title': {val: '', type: 'text'},
            'Description': {val: '', type: 'textarea'}
        };

        $scope.data.description = "";

        $scope.saveEntry = function(){
            console.log('Saving data');
            console.log($scope.data);
            journalFactory.postData(save_entry_url,  $scope.data).then(function(data){

                if(data.data.status == 'success'){
                    $scope.entry = data;
                    $scope.alerts.push({msg: data.data.msg, type: 'success'});
                    $timeout(function(){
                        $scope.alerts = [];
                        $location.path('/journal_id/'+$scope.journal_id+'/edit/'+data.data.data.id);
                        //$scope.getEntries();
                    }, 2000);
                }else{
                    $scope.alerts.push({msg: data.data.msg, type: 'danger'})
                };
            });
        }

        $scope.tinymceOptions = {
            plugins: 'link image code',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code',
            width: '200%'
        };


    });

    {{ ngapp }}.controller("editEntryCtrl", function($scope, $http, $timeout, $routeParams, journalFactory) {

        $scope.alerts = [];
        $scope.journal_id = $routeParams.journal_id;
        $scope.entry_id = $routeParams.entry_id;
        var url = "{% url 'journal_entry' %}";
        var update_entry_url = "{% url 'journal_edit_entry' %}";
        $scope.data = {journal_id: $scope.journal_id};

        $scope.getEntries = function(){
            var entry_data = {journal_id: $scope.journal_id};
            journalFactory.postData(url, entry_data).then(function(data){
                $scope.entries = data.data;
                $scope.journal_name = data.journal_name;
                $scope.journal_date_created = data.journal_date_created;
            });
        }
        $scope.getEntries();

        $scope.updateEntry = function(){
            journalFactory.getData(update_entry_url,  {entry_id: $scope.entry_id}).then(function(data){
                $scope.data.title = data.data.data.title;
                $scope.data.entry_id = data.data.data.id;
                $scope.data.description = data.data.data.description;
                $scope.getEntries();
            });

        };
        $scope.updateEntry();

        $scope.saveEntry = function(){
            journalFactory.postData(update_entry_url,  $scope.data).then(function(data){
                $scope.entry = data;
                console.log(data.data);
                if(data.data.status == 'success'){
                    $scope.alerts.push({msg: data.data.msg, type: 'success'});
                    $timeout(function(){
                        $scope.alerts = [];
                        $scope.getEntries();
                    }, 2000);
                }else{
                    $scope.alerts.push({msg: data.data.msg, type: 'danger'})
                };
            });
        }

        $scope.tinymceOptions = {
          plugins: 'link image code',
          toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code',
          width: '200%'
        };

    });






    {% endblock %}
