{% extends "base.html" %}

{% block title %}-Home{% endblock %}
{% load staticfiles %}



{% block content %}
<div class="row">
    <div class="col-md-12" align="right">
        <a href="{% url 'create_journal_entry' %}">
        <img src="{% static 'img/add.png' %}" width="50" height="50" alt=""></a>
    </div>
    {%  verbatim  %}
    <div class="col-md-12">
        <div class="row" ng-controller="myCtrl">
            <div class="col-md-12">
                <div ng-repeat="o in journals" class="col-md-4">
                    <div class="col-md-12" align="center" style="font-family: Courier New, Courier, monospace;">
                        <div class="col-md-12" style="background-color: #c1c1c1">
                            <h3><b>{{ o.name }}</b></h3>
                        </div>
                        <div class="col-md-12" style="border: solid 1px">{{ o.type }}</div>
                        <div class="col-md-12" align="right"><a href="/journal_entries/get/{{ o.id }}/">View</a></div>
                    </div>
                    <div class="col-md-12" style="height: 25px;"></div>

                </div>
            </div>
        </div>
    </div>
    {%  endverbatim  %}

</div>
{% endblock %}

    {% block extrascript %}
         {{ ngapp }}.controller("myCtrl", function($scope, $http) {

         var url = "{% url 'journal_vew' %}";

         $scope.initData = function(){
             $http.get(url).then(function(data){
                 $scope.journals = data.data.response.data;
                 console.log($scope.journals);
             })
         };

         $scope.passPassword = function(){
             $http.post(url, {password: $scope.password }).then(function(data){
                 $scope.journal_data = data.data.response.data;
                 console.log($scope.journal_data);
             })
         };
         $scope.initData();

         {{ ngapp }}.directive('addASpaceBetween', [function () {
             'use strict';
             return function (scope, element) {
                 if(!scope.$last){
                     element.after('&#32;');
                 }
             }
         }
     ]);
     });
    {% endblock %}
