.h3_class {
    font-size: 30px;
    line-height: 1.4em;
    margin: 0 auto;
   	font-weight: 300;
    text-align:left;
    text-align: center;
}

/*.nav_class{*/
    /*font-family: Papyrus,fantasy; */
/*}*/

.custom-form-control {
    display: block;
    max-width:100%;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 8px 10px;
    line-height: 1.4em;
    font-size: 17px;
    color: grey;
    background-color: #ffffff;
    background-image: none;
    border: 0px solid #FFFFFF;
    border-bottom: 1px solid grey;
    border-radius: 0px;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
}


a, u {
    text-decoration: none;
}



footer .navbar-collapse.in {
    bottom: 70px;
    position: absolute;
    background-color:#333;
    width:100%;
}


.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}
.no-padding {
    padding:0;
}

.entry_rows{
    font-family:Courier New, Courier, monospace;
    color: #a4a4a4;
}
.entry_rows:hover{
   background-color:#e7e7e7;
    color: black;
}

.btn-warning-custom {
    color: #fff;
    background-color: #c0c0c0;
    border-color: black;
}
.btn-warning-custom:hover{
   background-color:#ffba00;
}


.btn-danger-custom {
    color: #fff;
    background-color: #c0c0c0;
    border-color: black;
}
.btn-danger-custom:hover{
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#empty-message { float: left; }
input { float: left }

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}



.app-modal-window .modal-dialog {
  width: 400px;
}

.custom-input {
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0px;
    padding: 10px;
    font-size: 15px;
    background: #efefef;
    width: 283px;
    margin-bottom: 10px;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(47, 45, 45, 0.18);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.custom-p{
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
    color: #d43f3a;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgba(255, 255, 255, 0);
}

.custom-well {
    min-height: 20px;
    padding: 19px;
    color: #31708f;
    margin-bottom: 20px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



div{
    word-wrap: break-word;
}

.box {
  height: 90px;
  line-height: 50px;
    padding-left: 10px;
}

.wy-side-nav-search {
    display: block;
    z-index: 200;
    background-color: #2980B9;
    text-align: center;
    padding: 0.809em;
}

.wy-menu-vertical a {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: whitesmoke;
}


.wy-menu-vertical {
    height: 82vh;
}

.view_entry_class{
    width:100%;
    height:100%;
    border-radius: 0px;
}

.btn-grey{
    background-color: #505050;
    color: white;
    text-decoration: none;
}
.btn-grey:hover{
    color: whitesmoke;
}

.btn-entries{
    background-color: #333333;
    border-bottom: 1px solid grey;
    color: whitesmoke;
}

.btn-entries:hover{
    color: whitesmoke;
    background-color: #474747;
}

.wy-menu-vertical1 a {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
}

.btn-blue{
    color: white;
    background-color: #076a96;
    border-color: #06476f;
}

.btn-blue:hover{
    color: white;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.modal-class3{
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.modal-class2{
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.modal-class1{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}


.delete-button{
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    text-decoration:None;
}

.update-button{
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.create-button{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    text-decoration:None;
}

.btn {

}

.btn a{
    color: white;
}

*:focus {
    outline: none;
}